@charset "UTF-8";

* {
    font-family: "Raleway";
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    margin-block-end: 0%;
    margin-block-start: 0%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
}

.card {
    background: url(../image/banner.png);
}
