@media screen and (max-width:607px) {
    .cabecalho { 
        width: 100vw;
        
    }

    
}

@media screen and (max-width:1900px) {
    .cabecalho_login {
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        padding: 1rem;
        text-decoration: none;
       
    }

    .cabecalho {
        width: 100vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
}

    
