@charset "UTF-8";

@media screen and (min-width:700px) {
    .card {
        background-image: url(../image/banner.png);
        background-size: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        height: 24,5rem;
        margin-top: 5rem;
        padding: 4rem 3rem;
        padding-top: 11rem;
    }
    
    .card_conteudo {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .card_titulo {
        font-size: 52px;
        font-weight: 700;
        color: #FFFFFF;
        
    }
    
    .card_texto {
        font-size: 22px;
        font-weight: 700;
        color: #FFFFFF;
    
    }
    
    .card_botao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;
        width: 129px;
        height: 51px;
        text-decoration: none;
        background: #2A7AE4;
        color: aliceblue;
    
    }
    
    .card_botao:hover{
        transform:scale(1.2);
    }

}