@charset "UTF-8";

@media screen and (min-width:700px) {
    .secao {
        padding-top: 5em;
        padding-left: 10%;
        padding-right: 10%;
    }

    .secao_informacao {
        margin-right: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .secao_titulo {
        width: 148px;
        height: 38px;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #464646;
        margin-left: 2.3rem;
        margin-bottom: 2rem;
        display: inline;   
    }

    .secao_lista {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-inline-start: 0%;
        
    }

    .secao_item {
        margin-bottom: 1em;
    }

    .secao_link {
        text-decoration: none;
        color: #2A7AE4;
    }

    .item_nome {
        width: 176px;
        height: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #464646;
    }
    
    .item_preco {
        width: 176px;
        height: 19px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #464646;
    }
    
    .item_link{
        width: 100px;
        height: 19px;
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #2A7AE4;
    }

    .item_link:hover {
        text-decoration: underline;
    }
}